:root {
  --soft: #fff2cc;
  --medium: #ffd966;
  --bold: #f3a712;
  --dark: #1B0E14;
  --contrast:#669bbc;
}

body {
  background-image: url(../images/logobackground.jpg);
}

.date {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}

.name {
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
}


.hidden {
  visibility: hidden;
}

.header {
  padding-left: 10px;
  margin: 8px;
  border-radius: 10px;
  border-color: var(--medium);
  border-style: solid;
  font-weight: bold;
  background-image: url(../images/softlogo.jpg);
  background-size: cover;
}

.header h1 {
  color: var(--bold);
  margin-bottom: 8px;
  
}

.header h2 {
  color: var(--bold);
  text-align: right;
}

.header img {
  height: 27px;
}

#tickerName {
  font-size: 18vw;
  margin: 0px;
  padding: 0px;  
}

.headerRow {
  margin: 0px;
  padding: 0px;
}

#search-form {
  margin-left: 10px;
}

#searchButton {
  font-size: 20px;
  border-radius: 10px;
  background-color: var(--medium);
  color: var(--dark);
  width: 40%;
}

#tickerHistoryBtn {
  background-color: var(--medium);
  color: var(--dark);
  width: 40%;
  border-radius: 12px;
  margin-left: 10px;
}

.card {
  background-color: var(--contrast);
  color: var(--dark);
}

.card1-title {
  font-size: 24px;
}

.card1-content {
  background-color: var(--contrast);
  font-weight: bold;
  font-style: italic;
  padding-left: 5px;
}

@media screen and (max-width: 575px) {
  #tickerHistoryBtn {
    font-size: 10px;
    width: fit-content;
    font-weight: bold;
  }
}

.news-card-container a {
  color: var(--dark);
}
