:root {
  --soft: #fff2cc;
  --medium: #ffd966;
  --bold: #f3a712;
  --dark: #1B0E14;
  --contrast:#669bbc;
}

body {
  background-color: var(--soft);
}

.date {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}

.name {
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
}


.hidden {
  visibility: hidden;
}

.header {
  padding-bottom: 10px;
  margin: 8px;
  border-radius: 10px;
  border-color: var(--medium);
  border-style: solid;
  font-weight: bold;
  background-color: var(--soft);
}

.header h1 {
  color: var(--bold);
}

.header h2 {
  color: var(--bold);
  text-align: right;
}

.header img {
  padding: 0rem;
}

#tickerName {
  font-size: 18vw;
  margin: 0px;
  padding: 0px;  
}

.headerRow {
  align-content: flex-start
}

form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.form-input {
  outline:black;
  border: black;
  padding: 12px;
  width: 100%;
  font-size: 2.2rem;
  border: 2px solid var(--grey);
  border-radius: 12px;
}

#searchButton {
  display:inline;
  padding: 5px 2px;
  font-size: 20px;
  border-radius: 10px;
  justify-content: right;
}
/* #tickerInput {

} */
